/*GENERAL SETTING*/
* {
  /*reset css*/
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
  background-color: #f4f4f4;
}
.container {
  background-color: #333;
  margin: 50px auto;
  overflow: auto;
  width: 60%;
  min-height: 650px;
}
header h1 {
  color: #fff;
  font-size: 22px;
  padding: 15px 0 10px 10px;
  text-align: center;
}
header p {
  color: #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}
#shouts {
  width: 90%;
  background: #f4f4f4;
  margin: 20px auto;
  overflow: auto;
  min-height: 350px;
}
.shout {
  list-style-type: none;
  padding: 8px;
  border-bottom: 1px #ccc dotted;
}
.shout span {
  color: #aaa;
}
.shout .name {
  font-weight: 700;
  color: #333;
}
#input {
  width: 90%;
  min-height: 80px;
  margin: auto;
  padding: 0;
}
form {
  width: 100%;
}
#input input[type="text"] {
  height: 25px;
  width: 48%;
  padding: 3px;
  margin-bottom: 20px;
  border: 1 solid #666;
}
.updateInput {
  width: 100% !important;
}
#input .shout-btn {
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
  margin: 10px auto;
}
.error {
  background: orangered;
  color: #f4f4f4;
  padding: 5px;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
}
.deleteForm {
  width: 20%;
}
.deleteBtn {
  padding: 5px;
  margin: 0;
  height: 28px;
  background-color: orangered;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.updateBtn {
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}
@media only screen and (max-width: 1135px) {
  #input input[type="text"] {
    width: 98%;
  }
}
